<MRow>
    <MCol>
        <MCard class="text-overline mb-6" Style="margin: 20px;">
            <MTreeview Activatable Hoverable OpenAll Items="_departments" 
                       TItem="DepartmentDto" TKey="Guid" 
                       ItemText="r=>r.DepartmentName"
                       ActiveChanged="HandleDeptActive"
                       ItemChildren="r=>r.Children?.ToList()" ItemKey="r=>r.Id">
                <LabelContent>
                    @context.Item.DepartmentName
                </LabelContent>
            </MTreeview>
        </MCard>
    </MCol>
    <MCol>
        <MListItem TwoLine>
            <MListItemContent>
                <div class="text-overline mb-4" style="float: left;">
                    排行榜
                </div>
                <MListItemSubtitle>
                    <MList Disabled>
                        <MListItemGroup>
                            @foreach (var item in _items)
                            {
                                <MListItem Class="" Style="height: 16px;">
                                    <MChip Color="red" Outlined Dark>
                                        @(_items.IndexOf(item) + 1)
                                    </MChip>
                                    <MListItemContent Style="margin-left: 10px;">
                                        <MListItemTitle>@($"{@item.Name}\t{@item.Score:0}分")</MListItemTitle>
                                    </MListItemContent>
                                </MListItem>
                            }
                        </MListItemGroup>
                    </MList>

                </MListItemSubtitle>
            </MListItemContent>
        </MListItem>
    </MCol>
</MRow>